body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-brand img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%287%2C%2077%2C%2021%2C%201%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    margin-right: 1em;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.container h2 {
    margin-top: 2rem;
    color: #343a40;
}

.table-responsive {
    margin-top: 1.5rem;
}

.table {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    color: #343a40;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.modal-header, .modal-footer {
    border: none;
}

/* Responsive design */
@media (max-width: 576px) {
    .navbar-brand img {
        width: 50px;
        height: 50px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .form-control {
        padding: 8px;
        font-size: 14px;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 17px;
        margin-right: 0.5em;
    }

    .table-responsive {
        font-size: 14px;
    }

    .table th, .table td {
        padding: 8px;
    }
}
