/* General styles for larger screens */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Ensures content doesn't hide behind the navbar */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px; /* Adjusted margin to avoid overlap */
    transition: all 0.3s ease-in-out; /* Add transition for smooth effect */
}

h2 {
    color: #333;
    font-size: 24px;
}

h3 {
    color: #777;
    margin-bottom: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    color: #555;
    text-align: left;
    width: 100%;
    max-width: 300px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

input[type="number"].quantity {
    width: 60px;
    /* Adjust the size of the quantity text box */
}

/* Hide the arrows for number inputs in Webkit browsers (Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows for number inputs in Mozilla Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #555;
    font-size: 16px;
    user-select: none;
}

input[type="radio"]+label::before,
input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

input[type="radio"]:checked+label::before,
input[type="checkbox"]:checked+label::before {
    content: '\2714';
    /* Checkmark symbol */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #28a745;
    background-color: #fff;
    border: 1px solid #28a745;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.radio-group label {
    margin-right: 20px;
}

button {
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.qr-code {
    width: 130px;
    /* Increase the size of the image */
    margin: 10px auto;
    /* Center the image */
    display: block;
    /* Ensure the image is block-level */
}

#vegMenu,
#nonVegMenu {
    text-align: left;
}

#vegMenu label,
#nonVegMenu label {
    display: block;
    margin-top: 10px;
}

#vegMenu input[type="checkbox"],
#nonVegMenu input[type="checkbox"],
#nonVegMenu input[type="number"] {
    margin-right: 10px;
    display: inline-block;
    /* Ensure checkboxes and numbers are visible */
}

/* Navigation Header styles */
.navbar {
    background-color: #343a40;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-brand img {
    margin-right: 10px;
    width: 50px; /* Updated width */
    height: 50px; /* Updated height */
    border-radius: 50%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%287%2C%2077%2C%2021%2C%201%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    margin-right: 1em;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

/* Slide-down effect for small screens */
@media (max-width: 576px) {
    .show-form {
        margin-top: 120px !important; /* Adjusted margin to show the form */
    }

    .navbar-brand img {
        width: 50px;
        height: 50px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .form-control {
        padding: 8px;
        font-size: 14px;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 17px;
        margin-right: 0.5em;
    }

    .table-responsive {
        font-size: 14px;
    }

    .table th, .table td {
        padding: 8px;
    }
}
